<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>프로필 홈</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home_profile.css}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <a class="home-go" href="/home">로고로 대체 예정</a>
        </div>
        <div class="set-image-margin">

            <span>
                <img src="img/temp_image.png" class="border-image" width="20%">
            </span>

            <p id="intro-profile">
                이름 : 김의년 <br>
                출생 : 1998년 4월 21일 <br>
                사진 : 임시 사진임 => 언제가 바꿀 것 <br> <!-- 이거 없앨 거임 -->
                장래희망 : 돈 많이 벌기(돈 많은 백수) <br>
                관심 분야 : 인공지능과 백엔드
            </p>
        </div>

        <p>
            이거 홈페이지 만들기 정말 힘드네 <br>
            일단 그냥 만들면 뭐라도 나올 것 같아서 해보는데 전혀 나오는게 없네 <br>
            적을게 없으니 이런거라도 적어봄 <br>
            <br>
            Git 주소 : <a href="https://github.com/eui20n" class="link-go">https://github.com/eui20n</a><br>
            Solved.ac 프로필 : <a href="https://solved.ac/profile/eui20n" class="link-go">https://solved.ac/profile/eui20n</a> 
        </p>
    </body>
</html>