<!DOCTYPE>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> home </title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    </head>

    <body>
        <div class="visible">아무것도 없음</div>
            
        <div>
            <h1 class="title">이미지로 대체 예정</h1>
        </div>

        <div>
            <p class="tset">
                <a class="link-go" id="profile-go" href="/profile">프로필</a>
                <a class="link-go" id="profile2-go" href="/profile2">프로필2</a>
            </p>
        </div>

    </body>
</html>